body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.continer {
    width: 1200px;
    margin: auto;
}

.top-header-background {
    background: #FF4E3C;
    padding: 10px 0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.location ul {
    display: flex;
}

.follow {
    display: flex;
}

.social-icon ul {
    display: flex;
}

.location ul li {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.location ul li a {
    color: #fff;
}

.location ul li img {
    width: 12px;
    margin-right: 5px;

}

.location ul li:last-child img {
    border-radius: 30px;
}

.social-icon ul li a {
    padding: 0 10px;
}

.social-icon ul li:last-child a {
    padding-right: 0;
}

.social-icon ul li img {
    width: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.header-background{
   background: #fff;
}
.header-background .fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;

}



.logo img {
    width: 150px;
    min-height: 30px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a {
    color: #000;
    padding:35px 15px;
    font-weight: 500;
    display:flex ;
    align-items: center;
    font-size: 18px;
    transition: 0.5s all ease;
}
.menu ul li:hover a{
    color: #FF4E3C;
 
}
.menu ul li a:last-child{
    padding: 15px 20px;
}


.menu ul li{
    position: relative;
}



.header-btn{
    margin-top: -70px;
   z-index: 9999;
    position: relative;
}
.header-btn a{
    top: 40px;
    font-weight: 500;
    font-size: 17px;
    padding:20px 50px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
 color: #fff !important;
 border: 2px solid transparent;
 transition: 0.5s all ease;
}


.header-btn a:hover{
    color: #f00 !important;
     border-color: #f00;
}
.header-btn a::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #ff4e3c;
    position: absolute;  
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

  } 

  .header-btn a::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

}
.header-btn a:hover::before, .header-btn a:hover::before{
	opacity:1;
  	-webkit-transform: translateX(100%);
	     -moz-transform: translateX(100%);
	      -ms-transform: translateX(100%);
	          transform: translateX(100%);
}
.header-btn a:hover::after, .header-btn a:hover::after{
	opacity:1;
    -webkit-transform: translateX(-100%);
	     -moz-transform: translateX(-100%);
	      -ms-transform: translateX(-100%);
	          transform: translateX(-100%);
}

.menu ul li a img{  
    transition: 0.5s all ease; 
    width: 20px;
    transform: rotate(360);
    display: block;


}
.menu ul li:hover a .menu-red-img{  
display: block;
rotate: 180deg;
}
.menu ul li:hover a .menu-black-img{  
    display: none;
}
.menu ul li a .menu-red-img{
display: none;
}
.menu ul li:hover a img{
    transform: rotate(180deg);
}
.menu ul li:nth-child(7):hover a img{
    
    transform: rotate(0deg);
}

.menu ul li ul{
 position: absolute;
 z-index: 2;
 left: 0;
 box-shadow: 0 0 30px rgb(0 0 0 / 9%);
 top:90px;
 background: #fff;
 width: 230px;   
 flex-direction: column;
 align-items: start;
 transform: translateY(10%);
 transition: transform .4s, opacity .1s;
visibility: hidden;
opacity: 0;
 transition: 0.5s all ease;
}
.menu ul li ul li a{
    padding: 11px 15px;
    font-size: 16px;
    
    
}

.menu ul li ul li{
    transition: 0.5s all ease;
    border-bottom: 1px solid #d5d5d5;
    width: 100%;
}
.menu ul li ul li:hover{
    border-color: #FF4E3C;

}
.menu ul li ul li a:hover{


    margin-left: 20px;
    position: relative;
}
.menu ul li ul li a:hover::after{
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translate(0, -50%);
    content: "/ /";
}
.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: rotateY(0);
}
.slider {
   position: relative;

}
.slider img{
    width: 100%;
    height: 100vh;

}

.slider-text {
    color: #fff;
    width: 50%;                 
    position: absolute;   
     left: 100px;
    top:14%;
    
}

.slider-text h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 95px;
}







.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leFadeInLeft span { animation-name: leFadeInLeft }
@keyframes leFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to { opacity: 1 }
}





.slider-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0 0;
}



.slider-btn{
   z-index: 999;
    position: relative;
}
.slider-btn a{
    top: 40px;
    font-weight: 500;
    font-size: 17px;
    padding:20px 50px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
 color: #fff;
 border: 2px solid transparent;
 transition: 0.5s all ease;
}


.slider-btn a:hover{
     border-color: #f00;
}
.slider-btn a::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #ff4e3c;
    position: absolute;  
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    
} 

  .slider-btn a::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

}
.slider-btn a:hover::before, .slider-btn a:hover::before{
	opacity:1;
  	-webkit-transform: translateX(100%);
	     -moz-transform: translateX(100%);
	      -ms-transform: translateX(100%);
	          transform: translateX(100%);
}
.slider-btn a:hover::after, .slider-btn a:hover::after{
	opacity:1;
    -webkit-transform: translateX(-100%);
	     -moz-transform: translateX(-100%);
	      -ms-transform: translateX(-100%);
	          transform: translateX(-100%);
}







.card-warpper ul {
    display: flex;
    justify-content: space-between;
    

}

.card-warpper ul li {
    width: 33%;
    background: #fff;
    padding: 60px 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    margin: 0 10px;
    margin-top: -100px;
}
.card-warpper ul li .right-arrows img{
    width: 14px;
    margin-left: 3px;
}
.card-warpper ul li>img {
    width: 80px;
    display: block;
}

.card-warpper ul li .white-img {
    display: none;
}

.card-warpper ul li h3 {
    font-weight: 700;
    padding-top: 20px;
    font-size: 22px;
}

.card-warpper ul li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #767676;
    padding: 20px 0;
}

.card-warpper ul li a {
    color: #FF4E3C;
    font-weight: 600;
    font-size: 18px;
   
}
.card-warpper ul li .right-arrows{
    display: flex; 
    align-items: center;
}
.card-warpper ul li a img {
    width: 15px;
    display: block;
}
.card-warpper ul li a .white-right-arrow {
    display: none;
}
.card-warpper ul li:hover a .white-right-arrow  {
   display: block;
}
.card-warpper ul li:hover a .red-right-arrow  {
   display: none;
}

.on-hover img {
    width: 100%;
    height: 100%;
}

.on-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s ease all;
    opacity: 0;
}

.card-warpper ul li:hover .on-hover {
    opacity: 1;
    visibility: visible;
    transition: 0.8s ease all;

}

.card-warpper ul li:hover .white-img {
    display: block;

}

.card-warpper ul li:hover .red-img {
    display: none;
}

.card-warpper li:hover {
    color: #fff;
    transition: all 2s;
    transform: rotateZ(360deg);
}

.card-warpper li:hover p {
    color: #fff;
}

.card-warpper li:hover a {
    color: #fff;
}

.booking {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.booking-text span {
    font-weight: 700;
    font-size: 16px;
    color: #FF4E3C;
}

.booking-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 20px;
}

.booking-text {
    width: 45%;
}

.booking-img {
    width: 45%;

}

.booking-img img {
    display: block;
}

.input {
    width: 100%;

}

.add ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add ul li {
    width:calc( 50% - 10px);


}

.add ul li input {
    padding: 15px;
outline: none;

}

.name input {
    width: 100%;
    padding: 15px;
    outline: none;
}

input {
    margin: 10px;
    width: 100%;
    padding: 10px;
}

.message textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    outline: none;
    margin: 10px 0 0 10px;
resize: none;
}

/* .booking-btn a {
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    background: #FF4E3C;
    padding: 15px 30px;
    border: 3px solid #fff;
    border-radius: 50px;
    margin-top: 40px;
    transition: 0.7s ease all;

    display: inline-block;
}

.booking-btn:hover a {
    background: #000;
} */

.booking-btn {
   
    position: relative;
}
.booking-btn a{
    font-weight: 500;
    font-size: 17px;
    top: 40px;
    padding:20px 50px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
 color: #fff;
 border: 2px solid transparent;
 transition: 0.5s all ease;
}


.booking-btn a:hover{
     border-color: #f00;
     color: #FF4E3C;
}
.booking-btn a::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #ff4e3c;
    position: absolute;  
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

  } 

  .booking-btn a::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

}
.booking-btn a:hover::before, .booking-btn a:hover::before{
	opacity:1;
  	-webkit-transform: translateX(100%);
	     -moz-transform: translateX(100%);
	      -ms-transform: translateX(100%);
	          transform: translateX(100%);
}
.booking-btn a:hover::after, .booking-btn a:hover::after{
	opacity:1;
    -webkit-transform: translateX(-100%);
	     -moz-transform: translateX(-100%);
	      -ms-transform: translateX(-100%);
	          transform: translateX(-100%);
}

.service {
    background: url(../image/services-background-img.png) no-repeat;
    width: 100%;
    background-size: cover;
    margin-top: 100px;
}

.service {
    text-align: center;
    padding: 100px 0;
}

.service span {
    font-weight: 700;
    font-size: 16px;
    color: #FF4E3C;
}

.service h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 20px;
}

.service ul {
    display: flex;
    flex-wrap: wrap;
}

.service ul li {
    border: 1px dashed #000;
    width: calc(33% - 20px);
    margin: 10px;
    padding: 50px 30px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s all ease;

}
.service ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #000;
    height: 15px;
    width: 15px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.service ul li:hover:before {
    transform: scale(44);
  }



.service ul li img {
    display: block;
    width: 70px;


}
.hamburger img{
display: none;
}
.service ul li .white-img {
    display: none;
    margin: auto;
}
.service ul li .red-img {
    display: block;
    margin: auto;
}

.service ul h3 {
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
}

.service ul p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #767676;
    padding: 30px 0;
}

.service ul a {
    font-weight: 500;
    font-size: 18px;
    color: #000;
}



.service ul li:hover .red-img {
    display: none;
}

.service ul li:hover .white-img {
    display: block;
    margin: auto;

}

.service ul li:hover .services-on-hover2 {
    opacity: 1;
    visibility: visible;
}

.service ul li:hover {
    color: #fff;
    border: 1 px solid #FF4E3C;
    background: #FF4E3C;

}

.service ul li:hover p {
    color: #fff;
}

.service ul li:hover a {
    color: #fff;
}

.services-on-hover2:hover {
    opacity: 1;


}

.choose-text {
    width: 45%;
}

.choose-img {
    width: 50%;

}

.choose-img img {
    width: 100%;
    display: block;
}



.choose-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

}

.choose-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
    padding: 30px 0;
}

.choose-text ul li {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}

.choose-text ul li img {
    width: 20px;
}

.choose {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}




.choose-btn{
   margin-top: -10px;
    position: relative;
}
.choose-btn a{
    top: 40px;
    font-weight: 500;
    font-size: 17px;
    padding:20px 50px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
 color: #fff;
 border: 2px solid transparent;
 transition: 0.5s all ease;
}


.choose-btn a:hover{
     border-color: #f00;
     color: #f00;
}
.choose-btn a::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #ff4e3c;
    position: absolute;  
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

  } 

  .choose-btn a::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

}
.choose-btn a:hover::before, .header-btn a:hover::before{
	opacity:1;
  	-webkit-transform: translateX(100%);
	     -moz-transform: translateX(100%);
	      -ms-transform: translateX(100%);
	          transform: translateX(100%);
}
.choose-btn a:hover::after, .header-btn a:hover::after{
	opacity:1;
    -webkit-transform: translateX(-100%);
	     -moz-transform: translateX(-100%);
	      -ms-transform: translateX(-100%);
	          transform: translateX(-100%);
}





.team {
    padding-top: 100px;
    text-align: center;
}

.team span {
    font-weight: 700;
    font-size: 16px;
    color: #FF4E3C;
}

.team h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.team ul {
    display: flex;}

.team-img img {
    width: 100%;
    display: block;

}
.team-img{
    position: relative;

}
.team ul li {
    margin: 20px 10px 0;

}

.team ul li h3 {
    font-weight: 700;
    font-size: 22px;
    padding-top: 10px;
}

.team ul li p {
    font-weight: 400;
    font-size: 16px;
    color: #767676;
}

.team-hover ul li a {
    padding: 5px;
}

.team-hover {
    position: absolute;
    background: rgba(255, 78, 60, 0.3);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: 0.5s ease all;
}

.team ul li a {
    color: #000;
}

.team ul li:hover a {
    color: #FF4E3C;
}

.hover-img img {
    width: 50px;
}

.hover-img {
    position: absolute;
    top: 60%;
    left: 15%;
}

.hover-img ul li img {

    border-radius: 10px;
}

.team-img:hover .team-hover {
    opacity: 1;

}

.project span {
    font-weight: 700;
    font-size: 16px;
    color: #FF4E3C;
}

.project h2 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 30px;
}

.project ul {
    display: flex;
    justify-content: space-between;
}

.project ul li img {
    width: 100%;
    height: 360px;
    display: block;
}

.project {
    text-align: center;
    padding-top: 100px;
}

.project ul li {
    position: relative;
    width: 33%;
    margin: 0 15px;
}

.project-hover {
    background: #FF4E3C;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    border-radius: 0 0 15px 15px;
    padding-top: 15px;
    color: #fff;
    opacity: 0;
    transition: 0.5s ease all;
}

.project-overlay {
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    transition: 0.5s ease all;
    opacity: 0;
}

.project ul li:hover .project-overlay {
    opacity: 1;

}

.project-hover a {
    font-weight: 700;
    color: #fff;
    font-size: 25px
}

.project-hover:hover a {
    color: #000;
}

.project-hover p {
    font-weight: 700;
    font-size: 19px
}

.project ul li:hover .project-hover {
    opacity: 1;
}

.plans {
    text-align: center;
    padding-top: 100px;
}

.plans span {
    font-weight: 700;
    font-size: 16px;
    color: #FF4E3C;
}

.plans h2 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 50px;
}

.plans ul {
    display: flex;
    justify-content: space-between;
}

.plan-back-img {
    background: url(../image/plan-img.png) no-repeat;
    width: 100%;
    background-size: cover;
    padding: 50px 0;
}

.plans ul li {
    width: 33%;
    margin: 0 10px;
    color: #fff;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.plans ul li h3 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 5px;
}

.plans ul li .day {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
.plans ul li .day::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 100px;
   
    height: 2px;
    width: 50%;
    background: #fff;
    transition: 0.5s ease all;
}
.plans ul li:hover .day::after{
    left: 0;
    right: 0;width: 100%;
}
.plans ul li h4 {
    font-weight: 700;
    font-size: 22px;
    padding: 20px 0;
}

.plans ul li p {
    font-weight: 400;
    font-size: 16px;
    width: 65%;
    margin: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
    line-height: 30px;
}

.plans ul li a {
    color: #FF4E3C;
    background-color: #fff;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    width:calc(100% - 40px);
    margin:0 20px ;
    transition: 0.5s ease all;
}

.plans ul li a:hover {
    background: #000;
    color: #fff;
}

.parking-dates {
    background: url(../image/parking-dates-img.png) no-repeat;
    width: 100%;
    background-size: cover;
    padding: 50px 0;
    margin-top: 100px;
    color: #fff;
}

.parking-dates-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seve-money {
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    width: 55%;
}

.parking-dates-btn a {
    color: #fff;
    background-color: #FF4E3C;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
}









.faqs {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.faqs-img {

    width: 50%;
}

.faqs-img img {
    width: 100%;
    height: 600px;
    display: block;
}

.faqs-text {
    width: 45%;
}

.faqs-text span {
    font-weight: 700;
    font-size: 16px;
    color: #FF4E3C;
}

.faqs-text h2 {
    font-weight: 700;
    font-size: 40px;
    padding: 10px 0;
    line-height: 60px;
}

.faqs-text p {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
    color: #666666;
}

.faqs-text ul li {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 15px;
 
}
.faqs-text ul li .faqs-line{
    padding: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s all ease;

}
.faqs-text ul li .dowm-arrow img{
width: 25px;
display: block;
}
.faqs-text ul li .dowm-arrow img{
    
    transition: 0.5s all ease;
}
.faqs-text ul li .dowm-arrow .faqs-white{
display: none;
}
.faqs-text ul li:hover .dowm-arrow .faqs-white{
display: block;
}
.faqs-text ul li:first-child .dowm-arrow .faqs-white{
display: block;
}
.faqs-text ul li:first-child .dowm-arrow .faqs-black{
display: none;
}
.faqs-text ul li:hover .dowm-arrow .faqs-black{
display: none;
}

.faqs-text ul li p{
    padding: 10px 15px;
    display: none
}
.faqs-text ul li:first-child p{
  
    display: block
}
.faqs-text ul li .faqs-line:hover {
    background: #FF4E3C;
}

.faqs-text ul li:hover a {

    color: #fff;
}

.faqs-text ul li .faqs-line:first-child {
    background: #FF4E3C;
    color: #fff;

}

.faqs-text ul li:first-child a {

    color: #fff;

}

.faqs-check a {
    color: #000;
    transition: 0.5s all ease;
    font-weight: 500;
    font-size: 18px;
}

.testimonial-background {
    background: url(../image/testimonial-img1.png) no-repeat;
    width: 100%;
    background-size: cover;
    margin-top: 100px;
    padding: 100px 0 200px;
    color: #fff;
    text-align: center;
}

.testimonial-text span {
    font-weight: 700;
    font-size: 16px;
}

.testimonial-text h2 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 50px;
}

.testimonial-text ul {
    display: flex;
    justify-content: space-between;
}

.testimonial-text ul li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767676;
    margin-top: 20px;
    padding-top: 0px ;
   height: 120px;
    overflow-x: auto;
    
}

.testimonial-text ul li {
    background: #fff;
    width: 33%;
    margin: 0 10px;
    padding: 50px 25px;
    text-align: left;
    color: #000;
}

.star ol {
    display: flex;
}
.star ol li {
    padding: 0;
}

.star img {
    width: 20px;
}

.execllent {
    display: flex;
}

.execllent-text {
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
}

.execllent-people-text {
    display: flex;
    align-items: center;
}

.robik h3 {
    font-weight: 700;
    font-size: 22px;
}

.robik {
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
}

.execllent-people {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.execllent-img img {
    width: 100%;
}

.testimonial-img {

    padding-top: 70px;
}

.testimonial-img img {
    width: 40px;
}



.left-panel {
    background: #fff;
    padding: 25px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
}

.right-panel {
    background: #fff;
    padding: 25px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.blog {
    text-align: center;
    padding-top: 100px;
}

.blog span {
    font-weight: 700;
    font-size: 16px;
    color: #FF4E3C;
}

.blog h2 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 50px;
}

.blog ul {
    display: flex;
    flex-wrap: wrap;
}

.blog ul li {
    width: calc(33% - 30px);
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 15px;
}

.blog-text {
    padding: 30px;
}

.blog-img img {
    width: 100%;
    display: block;
    transition: 0.5s;
}
.blog-img:hover img{
    transform: scale(1.1);
}
.rekin {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #FF4E3C
}

.rekin a {
    color: #FF4E3C;
}

.rekin img {
    width: 15px;

}

.blog-date {
    padding-left: 30px;
}

.blog ul li h3 {
    color: #000;
    font-weight: 700;
    padding: 25px 0;
    font-size: 22px;
    line-height: 33px;
}

.blog ul li h3:hover {
    color: #FF4E3C;
}

.blog ul li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}






.blog-btn{
   z-index: 99999;
    position: relative;
    margin: -20px 0 20px 0;
}
.blog-btn a{
    top: 40px;
    font-weight: 500;
    font-size: 17px;
    padding:15px 30px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
 color: #fff;
 border: 2px solid transparent;
 transition: 0.5s all ease;
}


.blog-btn a:hover{
     border-color: #f00;
     color: #f00;
}
.blog-btn a::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #ff4e3c;
    position: absolute;  
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

  } 

  .blog-btn a::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);

}
.blog-btn a:hover::before, .blog-btn a:hover::before{
	opacity:1;
  	-webkit-transform: translateX(100%);
	     -moz-transform: translateX(100%);
	      -ms-transform: translateX(100%);
	          transform: translateX(100%);
}
.blog-btn a:hover::after, .blog-btn a:hover::after{
	opacity:1;
    -webkit-transform: translateX(-100%);
	     -moz-transform: translateX(-100%);
	      -ms-transform: translateX(-100%);
	          transform: translateX(-100%);
}


.blog-img {
    position: relative;
    overflow: hidden;

}
.blog-img:hover .blog-hover{
    opacity: 1;
    width: 100%;
    height: 100%;
}
.blog-img .blog-hover {
    background: rgba(0, 0, 0, 0.49);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width:0px ;
    height: 0px;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .3s ease;
}



.futter-background {
    background: #000;
    padding: 100px 0;
    margin-top: 85px;
    color: #fff;

}

.futter-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
}

.first-panel {
    width: 27%;
    padding-right: 40px;
}

.first-panel p {
    padding: 30px 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.futter-logo img {
    width: 150px;
}

.futter-icon ul li img {
    width: 40px;
    height:40px;
}

.futter-icon ul {
    display: flex;

}

.futter-icon ul li {
    padding: 0 10px;
}

.second-panel {
    width: 40%;
}

.second-panel h3 {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 30px;
}

.second-panel ul li {
    display: flex;
    padding-bottom: 20px;
}

.resent-text {
    padding-left: 20px;
    width: 70%;


}

hr {

    width: 80%;
    margin: auto;
}

.resent-text a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.resent-text a:hover {
    color: #FF4E3C;
}

.resent-img img {
    width: 100%;
    display: block;
    height: 80px;
}

.futter-service {
    width: 20%;
}

.futter-service h3 {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 30px;
}

.futter-service a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
}

.futter-service a:hover {
    color: #FF4E3C;
}

.futter-gallery {

    width: calc(27% - 10px);
}

.futter-gallery h3 {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 30px;
}

.futter-gallery img {
    width: 80px;
    display: block;
}

.futter-gallery ul {
    display: flex;
    flex-wrap: wrap;
}

.futter-gallery ul li {
    margin: 5px;
}

.copy-right {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}
.copy-right::before{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
}
.copy-right-contact ul {
    display: flex;

}

.copy-right-contact ul li {
    padding: 0 10px;

}

#star-page {
    background-color: #fff ;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
}

#star-page img {
    margin: 20% 0;
}

.preloder{
    display: none;
}

 .testimonial-text .testimonial-slider .prev-arrow{
    position: absolute;
    left: 50%;
    border-radius: 5px;
    top: 480px;
    background: #000;
    transition: 0.5s all ease;
    height: 60px;
    width: 60px;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
 margin-left: -50px;

}
.testimonial-text .testimonial-slider .prev-arrow:hover{
    background:#2a2273;
}
.testimonial-text .testimonial-slider .next-arrow:hover{
    background:#2a2273;
}
.testimonial-text .testimonial-slider .next-arrow{
    position: absolute;
    left: 50%;
 margin-left: 50px;
    top: 480px;
    transform: translate(-50%, 0);
    border-radius: 5px;
    background: #000;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fadein {
    opacity: 0;
    transition: all 1.5s;
    transform: translate(0, 100px);
  }
  
  .fadein.visible {
    opacity: 1;
    transform: translate(0, 0);
  }


/* left to right slide */


/*Animations*/

[data-animate-in] {
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease
}

[data-animate-in="up"] {
    transform: translate3d(0, 24px, 0)
}

[data-animate-in="left"] {
    transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
    transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
    transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
    transform: translate3d(0, 0, 0)
}

[data-animate-in].in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 0.6s ease, opacity 0.6s ease
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease
}

.page-loaded .fade-in,.page-loaded.fade-in {
    opacity: 1
}

.isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
    opacity: 1;
    transition: none;
    transform: none
}
/* left to right slide */ 





@media screen and (max-width:767px) {
    #star-page{
        display: none;
    }
    .continer {
        width: 100%;
        padding: 0 15px;
    }
    .hamburger img{
        display: block;
        }
    .top-header-background {
        display: none;
    }

    .menu {
       position: absolute;
       left: 0;
       top: 0;
       width: 75%;
       height: 100vh;
       z-index: 9;
       background: #fff;
       display: none;
    }
    .menu ul{
     flex-direction: column;
     align-items: start;
    }
    .menu >ul >li{
        padding: 10px;
        border-bottom: 1px solid #cacaca;
        width: 100%;
    }
    .menu >ul >li a{
padding: 0;
    }
    .menu >ul >li:nth-child(7){
        display: none;
    }
    .menu >ul >li:nth-child(8){
        display: none;
    }


.slider img{
    height: 500px;
}
    .slider-text {
        text-align: center;
        width: 100%;
        left: 50%;
        transform: translate( -50%,-50% );
    }
    .slider-text h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .slider-text p {
        font-size: 16px;
        width: 80%;
        margin: auto;
        padding: 22px 0 40px;
    }

    .card-warpper ul li {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .card-warpper ul li:first-child {
        margin-top: 50px;
    }

    .card-warpper ul {
        flex-direction: column;
    }

    .booking {
        flex-direction: column;
        padding-top: 50px;
    }

    .booking-img {
        width: 100%;
    }

    .booking-img img {
        width: 100%;
    }

    .booking-text {
        width: 100%;
        padding-top: 20px;
    }

    .booking-text h2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        padding: 20px 0;
    }

    .booking-text h2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        padding-bottom: 20px;
    }

    .name input {
        margin: auto;
    }

    .add ul {
        flex-direction: column;
    }

    .add ul li input {
        padding: 15px;
        width: 100%;
        margin: auto;
    }

    .add ul li {
        width: 100%;
        margin-top: 20px;
    }

    .message {
        margin-top: 20px;
    }
.message textarea{
    margin: 0;
}
    .message input {
        margin: auto;
    }

    .service {
        padding: 50px 0;
        margin-top: 50px;
    }

    .service h2 {
        font-size: 25px;
        padding-bottom: 0;
    }

    .service ul {
        flex-direction: column;
    }

    .service ul li {
        width: 100%;
        margin: 20px 0 0 0;

    }

    .choose {
        flex-direction: column-reverse;
        padding-top: 50px;
    }

    .choose-img {
        width: 100%;
    }

    .choose-text {
        width: 100%;
        padding-top: 20px;
    }

    .choose-text h2 {
        padding-top: 10px;
        font-size: 25px;
        line-height: 33px;
    }
    .choose-text ul li{
        font-size: 15px;
    }
    .team {
        padding-top: 50px;
    }

    .team h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .team ul {
        flex-direction: column;
        display: block;
        white-space: nowrap;
        overflow-x: auto;
    }

    .team ul li {
        margin-top: 30px;
        border-radius: 5px;
        display: inline-block;
    }

    .project {
        padding-top: 50px;
    }

    .project h2 {
        font-size: 25px;
    }

    .project ul {
        flex-direction: column;
    }

    .project ul li {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .project ul li:last-child {
        margin: 0;
    }

    .plans {
        padding-top: 50px;
    }

    .plans h2 {
        font-size: 25px;
        padding-bottom: 0;
    }

    .plans ul {
        display: block;
        white-space: nowrap;
        overflow-x: auto;

    }

    .plans ul li {
        width: 100%;
        margin: 30px 0 0 0;
        display: inline-block;
    }

    .plans ul li p {
        width: 82%;
    }

    .parking-dates-text {
        flex-direction: column;
    }

    .seve-money {
        font-size: 20px;
        line-height: 35px;
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    .parking-dates {
        margin-top: 50px;
    }

    .faqs {
        flex-direction: column;
        padding-top: 50px;
    }

    .faqs-img {
        width: 100%;
    }
    .faqs-img img{
        height: 500px;
    }
    .faqs-text {
        width: 100%;
        padding-top: 20px;
    }

    .faqs-text h2 {
        width: 80%;
        font-size: 25px;
        line-height: 35px;
    }

    .faqs-check a {
        font-size: 15px;
    }
    .testimonial-background{
        padding: 50px 0 150px;
        margin-top: 50px ;
    }
    .testimonial-text .testimonial-slider .next-arrow{
        top: 450px;
    }
    .testimonial-text .testimonial-slider .prev-arrow{
        top: 450px;
    }
    .testimonial-text h2 {
        font-size: 25px;
        padding-bottom: 0;
    }
    .testimonial-text ul{
        flex-direction: column;
    }
    .testimonial-text ul>li{
        width: 100%;
        margin: 20px 0 0 0;
    }
    .testimonial-text ul li p {
        font-size: 14px;
        padding-top: 30px;
     

    }
    .bootom-arrow{
        margin-top: 50px;
    }
    .blog {
        padding-top: 50px;
    }
    .blog h2 {
        font-size: 25px;
        padding-bottom: 0;
    }
    .blog ul{
        flex-direction: column;
    }
    .blog ul li{
        width: 100%;
        margin: 20px 0 0;
    }
    .blog ul li h3 {
        padding: 15px 0;
        font-size: 20px;
        line-height: 30px;
    }
    .futter-background {
        padding: 50px 0;
        margin-top: 50px;
    }
    .futter-text{
        flex-direction: column;
        text-align: center;
    }
    .first-panel {
        width: 100%;
        padding-right: 00px;
    }
    .futter-icon ul{
        justify-content: center;
    }
    .second-panel {
        width: 100%;
        padding-top: 40px;
    }
    .second-panel ul li {
       flex-direction: column;
        padding-bottom: 0px;
    }
    .resent-img{
        width: 25%;
        margin:auto;
    }
    .second-panel h3{
        padding-bottom: 10px;
    }
    .resent-text{
        width: 90%;
        margin: auto;
    }
    .second-panel  ul li:last-child{
        padding-top: 20px;
    }
    .futter-service {
        width: 100%;
        padding-top: 30px;
    }
    .futter-service h3{
        padding-bottom: 0;
    }
    .futter-gallery{
        width: 100%;
  
    }
    .futter-gallery img {
        width: 100%;
    }
    .futter-gallery ul li{
        width:calc(33% - 10px) ;
    }
    .futter-gallery h3{
        padding: 20px 0 0 0;
    }
    .copy-right{
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .copy-right-contact{
        margin: auto;
    }

}